.galery__wrapper {
    width: 100%;
    text-align: center;
}

.galery {
    width: 1400px;/* 340 * 4 + 40*/
    max-width: 100%;
    padding: 20px;
    margin: 0;
    display: inline-block;
}
.galery__item-container {
    width: 25%;
    height: 240px;
    display: inline-block;
    position: relative;
    min-width: 340px;
    /*padding: 20px;*/
    float: left;
    text-align: left;
    border: 1px solid #42a5f5; /*400*/
    /*transition: 0.5s padding;*/
}
.galery__item-container::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    /*width: 1px;*/
    background: red;
}
.galery__item-wrapper {
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 20px;
    text-align: center;
    transition: 0.5s padding;

    max-width: 99%;
}


.galery__item {
    width: 300px; 
    max-height: 200px;
    display: inline-block;
    position: relative;

    margin: 0;
    box-shadow: 0 0 30px 0;
    /*background: #90caf9; /*200*/
    transition: 0.5s all;
}
.galery__item img {
    width: 100%;
    max-height: inherit;
    vertical-align: middle;
}
.galery__item-text {
    width: 300px;
    opacity: 0;
    position: absolute;
    bottom: 18px;
    left: 0;

    z-index: 3;
    padding: 5px;
    font-size: 18px;
    line-height: 1em;
    background: #e3f2fd; /*50*/
    transition: 0.5s all;
}
.galery__item-wrapper:hover {
    padding: 0;
}
.galery__item-wrapper:hover .galery__item {
    width: 340px; 
    max-height: 240px;
    box-shadow: 0 10px 40px 0;
}
.galery__item-wrapper:hover .galery__item-text {
    width: 340px; 
    bottom: -2px;
    font-size: 20px;
    opacity: 1;
}
.galery__item.is-active {
    box-shadow: 0 10px 40px 0;
}






/*----------------adaptability------------------*/

@media screen and (max-width: 1800px) {
    .galery__item-container {
        width: 33%;
    }
    .galery {
        width: 1060px;/* 340 * 3 + 40*/
    }
}
@media screen and (max-width: 1400px) {
    .galery__item-container {
        width: 50%;
    }
    .galery {
        width: 720px;/* 340 * 2 + 40*/
    }
}
@media screen and (max-width: 1000px) {
    .galery__item-container {
        width: 100%;
    }
    .galery {
        width: 340px;/* 340 * 1*/
    }
}

@media screen and (max-width: 500px) {
    .galery__item-container {
        width: 100%;
        height: auto;
        min-width: auto;
        float: none;
    }
    .galery__item-wrapper {
        padding: 20px;
        /*padding-top: 66.66%;
        /*margin: 20px;*/
    }
    .galery {
        width: 100%;/* 340 * 1 + 40*/
    }
    .galery__item {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        /*position: absolute;
        top: 0;
        bottom: 20px;
        left: 0;
        right: 0;*/
    }
    .galery__item-text {
        width: auto;
        font-size: 16px;
        left: 20px;
        right: 20px;
    }

    .galery__item-wrapper:hover {
        padding: 0;
    }

    .galery__item-container:hover .galery__item-text  {
        width: auto;
        left: 0;
        right: 0;

        font-size: 18px;
    }
}

/*--------------------------------------------------*/