* {
    margin: 0;
    padding: 0;
}

.content {
    min-height: calc(100vh - 80px);
}

header,
#footer {
    background: #2c3e50;
    color: #fff;
}

#footer {
    font-size: 1.5em;
    min-height: 80px;
    background: #2c3e50;
    padding: 0 10%;
    /*clear: both;*/
}


/*выравнивание по высоте*/



#footer::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


header {
    box-sizing: border-box;
    position: relative;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 20px;
}
.inline-item {
    display: inline-block;
    float: left;
    height: 100%;
}
.string-item {
    margin: 0 10px;
}
.header-item {
    float: left;
    display: inline-block;
    margin: 10px;
    height: 64px;
    box-sizing: content-box;
}
.header-item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#menuHandlerCover {
    width: calc(10vw - 20px - 10px);
    min-width: 64px;
}
.header-item.branding {
    margin-left: 0;
}
.header-item.header-item-last {
    float: right;
}
.header-item-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.header-simple-name {
    display: none;
    height: 48px;
}

header.scroll-header {
    position: fixed;
    top: 0;
    padding: 5px 20px;
    width: 100%;
    z-index: 3;
}
.scroll-header .header-simple-name {
    display: inline-block;
}

.scroll-header .header-item {
    margin: 10px 0;
}
.scroll-header .subinfo, .scroll-header .inline-item {
    display: none;
}

header::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.navigation .nav-item {
    margin: 0 10px;
}

.header-item nav {
    display: inline-block;
}

.clearfix {
    clear: both;
}

.content {  
    background: url(../images/header-bg2.png) repeat-x;
    background-size: auto 100%;
}

.maininfo {
    line-height: 1.5em;
    color: white;
}
.subinfo {
    font-size: 0.5em;
    line-height: 0.5em;
    color: #ccc;
}



header a,
#footer a {
    white-space: nowrap;
    /*предотвращение переноса строк*/
}



/*----------------horizontal list------------------*/

.instring {
    text-align: justify;
    display: block;
}


/*выравнивание по ширине*/

.instring::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.instring-item {
    white-space: nowrap;
    /*предотвращение переноса строк*/
    display: inline-block;
    /*отображение в одну линию*/
    cursor: pointer;
}

a.instring-item {
    text-decoration: none;
}

ul.instring {
    list-style: none;
    padding-left: 0;
}



.icon-info::before {
    content: url("../images/info.png");
}
.icon-weight-small::before {
    content: url("../images/weight32.png");
}
.icon-weight-medium::before {
    content: url("../images/weight48.png");
}
.icon-weight-large::before {
    content: url("../images/weight64.png");
}
.icon-weight-xlarge::before {
    content: url("../images/weight128.png");
}


.header {
    padding: 20px 0;
}





#sidebar {
    float: left;
    width: 250px;
    margin: 10px;
    position: absolute;
    box-sizing: border-box;
    z-index: 99;
    display: none;
}

#sidebar.scroll-header {
    position: fixed;
    top: 94px;
}

#sidebar.is-active {
    display: block;
}

#menuHandler {
    position: absolute;
    left: 0;
    float: left;
    z-index: 99;
}
#menuButton {
    height: 64px;
}
#menuButton:before {
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
    background: url("../images/menu_inactive64.png") no-repeat 0 0;
    background-size: contain;
}

#menuButton.is-active:before {
    background: url("../images/menu_active64.png") no-repeat 0 0;
    background-size: contain;
}

#content-handler {
    /*float: right;*/
    margin: 0 10%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.menu {
    background: #333;
    opacity: 0.8;
    /*border-radius: 5px;*/
}

.menu ul, ul.menu {
    list-style: none;
}

.menu-item {
    white-space: nowrap;
    cursor: pointer;
}

a.menu-item, a.nav-item, .menu-item a, .nav-item a {
    color: #ccc;
    text-decoration: none;
}
a.menu-item:hover, a.nav-item:hover {
    color: white;
}
a.menu-item:active, a.nav-item:active {
    color: red;
}
#footer .nav-item:active {
    color: white;
}

.menu-item {
    width: 100%;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 !important;
    box-sizing: border-box;
    /*overflow: hidden;*/ /*to prevent hover item bachkgound overlapping*/
}
.nav-item {
    margin: 0 10px;
}

.menu-item:hover {
    background: #222;
}

.hoverable-menu-content-wrapper {
    position: absolute;
}

.hoverable-menu-content {
    display: none;
    width: 100%;
}
.hoverable-menu-parent {
    position: relative;
    
}

.hoverable-menu-parent:hover .hoverable-menu-content {
    display: block;
}

#sidebar .hoverable-menu-content-wrapper {
    top: 0;
    left: 250px;
}
#sidebar .hoverable-menu-content .menu {
    opacity: 1;
}


#footer .hoverable-menu-content-wrapper {
    padding-bottom: 80px;
    bottom: 0;
    width: 200px;
    left: -40px;
}
#footer .hoverable-menu-parent {
    z-index: 100;
    height: 30px;
    width: 120px;
    text-align: center;
}
#footer .hoverable-menu-content .menu-item {
    font-size: medium;
    text-align: left;
}


/*menu*/


/*.menu {
    height: 100%;
    display: inline-block;
    width:25%;
    float: left;
}
.menu ul {
    list-style: none;
}
#content-handler {
    height: 100%;
    display: inline-block;
    width:70%;
}*/





/*----------------adaptability------------------*/

@media screen  and (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 2em;
        margin: 0;
    }
    header .nav-item {
        font-size: 1em;
    }
    .menu-item, .nav-item {
        font-size: 1.5em;
    }
    #menuHandlerCover {
        width: calc(5vw - 20px);
    }
    #content-handler {
        margin: 0 5%;
    }
    #footer {
        padding: 0 5%;
    }

    .header-item.header-item-last {
        float: left;
    }
}

@media screen and (max-width: 768px) {

}