* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.content {
    min-height: calc((100vh - 80px) - 124px);
    position: relative;

    background: url(../images/header-bg2.png) repeat-x;
    background-size: auto 100%;
}
.content.scroll-header {
    margin-top: 94px;
    min-height: calc((100vh - 80px) - 94px);
}
#content-handler {
    margin: 0 10%;
    padding: 20px;
    position: relative;
}

header,
#footer,
.header-items-wrapper {
    background: #2c3e50;
    color: #fff;
}

#footer {
    width: 100%;
    height: 80px;
    bottom: -80px;
    position: absolute;
    z-index: 21;

    font-size: 1.5em;
    background: #2c3e50;
    padding: 20px 10%;
    /*clear: both;*/
}
#footer-shadow {
    width: 100%;
    height: 80px;
    bottom: -80px;
    position: absolute;
    z-index: 3;
    box-shadow: 0 0 50px 10px #555;
}
.footer-item {
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
}


header {
    width: 100%;
    height: 124px;
    position: relative;
    z-index: 21;

    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 20px;
}
#header-shadow {
    width: 100%;
    height: 124px;
    position: absolute;
    top: 0;
    z-index: 3;
    box-shadow: 0 0 20px 10px #555;
}

header.scroll-header {
    height: 94px;
    position: fixed;
    top: 0;
    padding: 5px 20px;
}
#header-shadow.scroll-header {
    height: 94px;
    position: fixed;
    top: 0;
}
/*выравнивание по высоте*/
header::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

header .nav-item {
    font-size: 15px;
    font-family: Arial,sans-serif;
}

.header-items-wrapper-activator {
    display: inline-block;
    float: right;
    margin: 10px;
    cursor: pointer;
}
.header-items-wrapper-activator:before {
    display: none;
    content: "...";
    color: white;
    font-weight: bold;
    font-size: 3em;
    line-height: 0.5em;
}
.header-items-wrapper {
    display: inline;
}
.inline-item {
    display: inline-block;
    float: left;
    height: 100%;
}
.header-item {
    float: left;
    display: inline-block;
    margin: 10px;
    height: 64px;
    box-sizing: content-box;
}
.header-item.branding {
    margin-left: 0;
    margin-right: 5%;
}

/*выравнивание по высоте*/
.header-item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#menuButton {
    height: 64px;
}
#menuButton:before {
    display: inline-block;
    width: 64px;
    height: 64px;
    content: "";
    background: url("../images/menu_inactive64.png") no-repeat 0 0;
    background-size: contain;
}

#menuButton.is-active:before {
    background: url("../images/menu_active64.png") no-repeat 0 0;
    background-size: contain;
}
#menuHandler {
    position: absolute;
    left: 0;
    float: left;
    z-index: 11;
    margin-left: 30px;
}
#menuHandlerCover {
    width: calc(10vw - 20px);
    min-width: 64px;
}
.header-item.header-item-last {
    float: right;
}
.header-item-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.header-simple-name {
    display: none;
    height: 48px;
}
.scroll-header .header-simple-name {
    display: inline-block;
}

.scroll-header .header-item {
    margin: 10px 0;
}
.scroll-header .subinfo, .scroll-header .inline-item {
    display: none;
}


.navigation .nav-item {
    margin: 0 10px;
}

.header-item nav {
    display: inline-block;
}

.clearfix {
    clear: both;
}

.maininfo {
    font-size: 1.5em;
    color: white;
}
.subinfo {
    font-size: 0.5em;
    color: #ccc;
    transform: scale(1.3,1);
    text-align: center;
}



header a,
#footer a {
    white-space: nowrap;
    /*предотвращение переноса строк*/
}



/*----------------icons--------------------*/
.icon-info::before {
    content: url("../images/info.png");
}
.icon-weight-small::before {
    content: url("../images/weight32.png");
}
.icon-weight-medium::before {
    content: url("../images/weight48.png");
}
.icon-weight-large::before {
    content: url("../images/weight64.png");
}
.icon-weight-xlarge::before {
    content: url("../images/weight128.png");
}
/*----------------------------------------*/





/*----------------menu---------------------*/
.sidebar {
    position: absolute;
    float: left;
    width: 0px;
    z-index: 11;
    min-height: 100%;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s width; /* 0.5 second transition effect to slide in the sidenav */
    padding-top: 60px; /* Place content 60px from the top */
}
.sidebar a {
    font-size: 20px;
}
.sidebar.is-active {
    width: 300px;
}

#menuContainer {
    position: absolute;
    top: 60px;
    width: 100%;
}
/*#sidebar {
    position: absolute;
    width: 250px;
    float: left;
    display: none;
    margin: 10px;
    z-index: 11;
}
#sidebar.scroll-header {
    position: fixed;
    top: 94px;
}
#sidebar.is-active {
    display: block;
}*/
.menu {
    background: #333;
    opacity: 0.8;
}
.menu ul, ul.menu {
    list-style: none;
}
.menu-item {
    width: 100%;
    display: inline-block;
    padding: 10px 30px;
    margin: 0 !important;
    white-space: nowrap;
    cursor: pointer; 
    /*overflow: hidden;*/ /*to prevent hover item bachkgound overlapping*/
}
.nav-item {
    margin: 0 10px;
}

.menu-item:hover {
    background: #222;
}
a.menu-item, a.nav-item, .menu-item a, .nav-item a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}
a.menu-item:hover, a.nav-item:hover {
    color: white;
}
/*-----------------------------------------*/



.branding {
    color: #ccc;
    transition: 1s;
}
.branding:hover {
    color: white;
    text-shadow: black 10px 10px 10px
}


#footer .nav-item:active {
    color: white;
}


.header {
    padding: 20px 0;
}



/*----------------adaptability------------------*/
@media screen and (max-width: 1024px) {
    /*header .nav-item {
        font-size: 1.5em;
    }
    .menu-item, .nav-item {
        font-size: 1.5em;
    }*/
    header {
        font-size: 1em;
    }
    .maininfo {
        line-height: 2em;
    }
    .subinfo {
        line-height: 0.5em;
    }
    #menuHandler {
        margin-left: 15px;
    }
    #menuHandlerCover {
        width: calc(5vw - 20px);
    }
    #content-handler {
        margin: 0 5%;
    }
    #footer {
        padding: 20px 5%;
    }

    .header-item.header-item-last {
        float: left;
        margin-left: 0;
    }
    .header-item.branding {
        margin-right: 10px;
    }
    .header-item.before-last {
        margin-right: 0;
    }
    .navigation .nav-item, .nav-item {
        margin: 0 5px;
    }

    /*.header-items-wrapper {
        display: none;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 105;
        margin-top: 18px;
    }
    .header-items-wrapper.is-active {
        display: block;
    }
    .header-items-wrapper-activator:before {
        display: inline-block;
    }*/
}

@media screen and (max-width: 768px) {
    header .header-items-wrapper {
        display: none;
        position: absolute;
        right: 0;
        top: auto;
        margin-top: 18px;
    }
    header.scroll-header .header-items-wrapper {
        margin-top: 0;
    }
    header .header-items-wrapper.is-active {
        display: block;
    }
    header .header-items-wrapper-activator:before {
        display: inline-block;
    }

    font-size: 
}
/*--------------------------------------------*/





/*меню на весь экран*/
/*box-shadow*/



